snippet sn "Snippet definition"
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}"
${0:expanse}
`!p snip.rv = "endsnippet"`

endsnippet

snippet $ "var"
${${1:1:what?}}
endsnippet

snippet ext
extends ${0:what?}
endsnippet
