# Basic keyword
snippet l "let"
let $0
endsnippet

snippet b "boolean"
boolean
endsnippet

snippet n "number"
number
endsnippet

snippet s "string"
string
endsnippet

snippet f "false"
false
endsnippet

snippet t "true"
true
endsnippet

snippet c "class"
class ${1:Name} {
	$0
}
endsnippet

snippet i "interface"
interface ${1:Name} {
	$0
}
endsnippet

snippet fun "function"
function
endsnippet

snippet e "enum"
enum ${1:Name} { $0 };
endsnippet

snippet C "const"
const $0
endsnippet

